<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyan.mapper.TbAttachmentMapper">
  <resultMap id="BaseResultMap" type="com.wyan.pojo.TbAttachment">
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <result column="m" jdbcType="CHAR" property="m" />
    <result column="c" jdbcType="CHAR" property="c" />
    <result column="a" jdbcType="CHAR" property="a" />
    <result column="catid" jdbcType="INTEGER" property="catid" />
    <result column="filename" jdbcType="CHAR" property="filename" />
    <result column="filepath" jdbcType="CHAR" property="filepath" />
    <result column="filesize" jdbcType="INTEGER" property="filesize" />
    <result column="fileext" jdbcType="CHAR" property="fileext" />
    <result column="isimage" jdbcType="INTEGER" property="isimage" />
    <result column="isthumb" jdbcType="INTEGER" property="isthumb" />
    <result column="downloads" jdbcType="INTEGER" property="downloads" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="uploadtime" jdbcType="INTEGER" property="uploadtime" />
    <result column="uploadip" jdbcType="CHAR" property="uploadip" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="authcode" jdbcType="CHAR" property="authcode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    aid, m, c, a, catid, filename, filepath, filesize, fileext, isimage, isthumb, downloads, 
    userid, uploadtime, uploadip, status, authcode
  </sql>
  <select id="selectByExample" parameterType="com.wyan.pojo.TbAttachmentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_attachment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_attachment
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_attachment
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wyan.pojo.TbAttachmentExample">
    delete from tb_attachment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wyan.pojo.TbAttachment">
    insert into tb_attachment (aid, m, c, a, 
      catid, filename, filepath, 
      filesize, fileext, isimage, 
      isthumb, downloads, userid, 
      uploadtime, uploadip, status, 
      authcode)
    values (#{aid,jdbcType=INTEGER}, #{m,jdbcType=CHAR}, #{c,jdbcType=CHAR}, #{a,jdbcType=CHAR}, 
      #{catid,jdbcType=INTEGER}, #{filename,jdbcType=CHAR}, #{filepath,jdbcType=CHAR}, 
      #{filesize,jdbcType=INTEGER}, #{fileext,jdbcType=CHAR}, #{isimage,jdbcType=INTEGER}, 
      #{isthumb,jdbcType=INTEGER}, #{downloads,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{uploadtime,jdbcType=INTEGER}, #{uploadip,jdbcType=CHAR}, #{status,jdbcType=INTEGER}, 
      #{authcode,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wyan.pojo.TbAttachment">
    insert into tb_attachment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        aid,
      </if>
      <if test="m != null">
        m,
      </if>
      <if test="c != null">
        c,
      </if>
      <if test="a != null">
        a,
      </if>
      <if test="catid != null">
        catid,
      </if>
      <if test="filename != null">
        filename,
      </if>
      <if test="filepath != null">
        filepath,
      </if>
      <if test="filesize != null">
        filesize,
      </if>
      <if test="fileext != null">
        fileext,
      </if>
      <if test="isimage != null">
        isimage,
      </if>
      <if test="isthumb != null">
        isthumb,
      </if>
      <if test="downloads != null">
        downloads,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="uploadtime != null">
        uploadtime,
      </if>
      <if test="uploadip != null">
        uploadip,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="authcode != null">
        authcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="m != null">
        #{m,jdbcType=CHAR},
      </if>
      <if test="c != null">
        #{c,jdbcType=CHAR},
      </if>
      <if test="a != null">
        #{a,jdbcType=CHAR},
      </if>
      <if test="catid != null">
        #{catid,jdbcType=INTEGER},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=CHAR},
      </if>
      <if test="filepath != null">
        #{filepath,jdbcType=CHAR},
      </if>
      <if test="filesize != null">
        #{filesize,jdbcType=INTEGER},
      </if>
      <if test="fileext != null">
        #{fileext,jdbcType=CHAR},
      </if>
      <if test="isimage != null">
        #{isimage,jdbcType=INTEGER},
      </if>
      <if test="isthumb != null">
        #{isthumb,jdbcType=INTEGER},
      </if>
      <if test="downloads != null">
        #{downloads,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="uploadtime != null">
        #{uploadtime,jdbcType=INTEGER},
      </if>
      <if test="uploadip != null">
        #{uploadip,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="authcode != null">
        #{authcode,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wyan.pojo.TbAttachmentExample" resultType="java.lang.Long">
    select count(*) from tb_attachment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_attachment
    <set>
      <if test="record.aid != null">
        aid = #{record.aid,jdbcType=INTEGER},
      </if>
      <if test="record.m != null">
        m = #{record.m,jdbcType=CHAR},
      </if>
      <if test="record.c != null">
        c = #{record.c,jdbcType=CHAR},
      </if>
      <if test="record.a != null">
        a = #{record.a,jdbcType=CHAR},
      </if>
      <if test="record.catid != null">
        catid = #{record.catid,jdbcType=INTEGER},
      </if>
      <if test="record.filename != null">
        filename = #{record.filename,jdbcType=CHAR},
      </if>
      <if test="record.filepath != null">
        filepath = #{record.filepath,jdbcType=CHAR},
      </if>
      <if test="record.filesize != null">
        filesize = #{record.filesize,jdbcType=INTEGER},
      </if>
      <if test="record.fileext != null">
        fileext = #{record.fileext,jdbcType=CHAR},
      </if>
      <if test="record.isimage != null">
        isimage = #{record.isimage,jdbcType=INTEGER},
      </if>
      <if test="record.isthumb != null">
        isthumb = #{record.isthumb,jdbcType=INTEGER},
      </if>
      <if test="record.downloads != null">
        downloads = #{record.downloads,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.uploadtime != null">
        uploadtime = #{record.uploadtime,jdbcType=INTEGER},
      </if>
      <if test="record.uploadip != null">
        uploadip = #{record.uploadip,jdbcType=CHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.authcode != null">
        authcode = #{record.authcode,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_attachment
    set aid = #{record.aid,jdbcType=INTEGER},
      m = #{record.m,jdbcType=CHAR},
      c = #{record.c,jdbcType=CHAR},
      a = #{record.a,jdbcType=CHAR},
      catid = #{record.catid,jdbcType=INTEGER},
      filename = #{record.filename,jdbcType=CHAR},
      filepath = #{record.filepath,jdbcType=CHAR},
      filesize = #{record.filesize,jdbcType=INTEGER},
      fileext = #{record.fileext,jdbcType=CHAR},
      isimage = #{record.isimage,jdbcType=INTEGER},
      isthumb = #{record.isthumb,jdbcType=INTEGER},
      downloads = #{record.downloads,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      uploadtime = #{record.uploadtime,jdbcType=INTEGER},
      uploadip = #{record.uploadip,jdbcType=CHAR},
      status = #{record.status,jdbcType=INTEGER},
      authcode = #{record.authcode,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wyan.pojo.TbAttachment">
    update tb_attachment
    <set>
      <if test="m != null">
        m = #{m,jdbcType=CHAR},
      </if>
      <if test="c != null">
        c = #{c,jdbcType=CHAR},
      </if>
      <if test="a != null">
        a = #{a,jdbcType=CHAR},
      </if>
      <if test="catid != null">
        catid = #{catid,jdbcType=INTEGER},
      </if>
      <if test="filename != null">
        filename = #{filename,jdbcType=CHAR},
      </if>
      <if test="filepath != null">
        filepath = #{filepath,jdbcType=CHAR},
      </if>
      <if test="filesize != null">
        filesize = #{filesize,jdbcType=INTEGER},
      </if>
      <if test="fileext != null">
        fileext = #{fileext,jdbcType=CHAR},
      </if>
      <if test="isimage != null">
        isimage = #{isimage,jdbcType=INTEGER},
      </if>
      <if test="isthumb != null">
        isthumb = #{isthumb,jdbcType=INTEGER},
      </if>
      <if test="downloads != null">
        downloads = #{downloads,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="uploadtime != null">
        uploadtime = #{uploadtime,jdbcType=INTEGER},
      </if>
      <if test="uploadip != null">
        uploadip = #{uploadip,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="authcode != null">
        authcode = #{authcode,jdbcType=CHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wyan.pojo.TbAttachment">
    update tb_attachment
    set m = #{m,jdbcType=CHAR},
      c = #{c,jdbcType=CHAR},
      a = #{a,jdbcType=CHAR},
      catid = #{catid,jdbcType=INTEGER},
      filename = #{filename,jdbcType=CHAR},
      filepath = #{filepath,jdbcType=CHAR},
      filesize = #{filesize,jdbcType=INTEGER},
      fileext = #{fileext,jdbcType=CHAR},
      isimage = #{isimage,jdbcType=INTEGER},
      isthumb = #{isthumb,jdbcType=INTEGER},
      downloads = #{downloads,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      uploadtime = #{uploadtime,jdbcType=INTEGER},
      uploadip = #{uploadip,jdbcType=CHAR},
      status = #{status,jdbcType=INTEGER},
      authcode = #{authcode,jdbcType=CHAR}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
</mapper>