<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyan.mapper.WebSetMapper">

  <select id="findWebSetByUserId" resultType="com.wyan.pojo.WebSet">
    select * from webset where userid=#{userid}
  </select>

  <insert id="save" parameterType="com.wyan.pojo.WebSet">
    insert into webset values(
      #{id},#{name},#{title},#{keywords},#{domain},#{desc},#{logo},#{icon},#{userid}
    )
  </insert>
  <update id="update" parameterType="com.wyan.pojo.WebSet">
    update webset set name=#{name},title=#{title},keywords=#{keywords},
    domain=#{domain},descript=#{descript},logo=#{logo},icon=#{icon} where id=#{id}
  </update>

</mapper>